<div class="page">
    <nav class="page__menu menu">
      <ul class="menu__list r-list">
        <li class="menu__group"><a href="http://localhost:4200/club" class="menu__link r-link text-underlined">Add Club</a></li>
        <li class="menu__group"><a href="http://localhost:4200/table" class="menu__link r-link text-underlined">League Table</a></li>
        <li class="menu__group"><a href="http://localhost:4200/matches" class="menu__link r-link text-underlined">Match Table</a></li>
        <li class="menu__group"><a href="http://localhost:4200/find" class="menu__link r-link text-underlined">Find Match</a></li>
        <li class="menu__group"><a href="http://localhost:4200/addmatch" class="menu__link r-link text-underlined">Add Matches </a></li>
      </ul>
    </nav>
  </div>
  