.full-width-table {
  width: 80%;
  // height: 20%;
  table-layout: fixed;
  padding: 0%;
  margin: 10px auto;
  background-color: rgba($color: #ffffff, $alpha: 0.7);
}
.paginator{
  width: 80%;
  padding: 0%;
  margin: 10px auto;
}

.header{
  color: white;
  margin-left: 40%;
}
#sortButton{
  background-color:#44c767;
border-radius:28px;
border:1px solid #18ab29;
display:inline-block;
cursor:pointer;
color:#ffffff;
font-family:Arial;
font-size:17px;
padding:16px 31px;
text-decoration:none;
text-shadow:0px 1px 0px #2f6627;
}
#sortButton:hover {
background-color:#5cbf2a;
}
