<section>
  <h1 class = "header">Find Match</h1>

    <mat-form-field class="full-width" appearance="outline" style="background-color: aliceblue;">
        <mat-label class="lable">Choose a date</mat-label>
        <input matInput [matDatepicker]="picker" [(ngModel)]="date" format="yyyy-MM-dd">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker class="picker" #picker ></mat-datepicker>
        <mat-card-actions>
          <button id="findClub" mat-raised-button type="submit" target="_blank" (click)="test()" (click)="findmatch()">Find Match </button>
        </mat-card-actions>


      </mat-form-field><br>

</section>




<table mat-table class="full-width-table" mat-table [dataSource]="dataSource" matSort aria-label="Elements">

    <ng-container matColumnDef="club1">
      <th mat-header-cell *matHeaderCellDef>Club A</th>
      <td mat-cell *matCellDef="let row">{{row.club1}}</td>
    </ng-container>
  
    <ng-container matColumnDef="club2">
      <th mat-header-cell *matHeaderCellDef>Club B</th>
      <td mat-cell *matCellDef="let row">{{row.club2}}</td>
    </ng-container>
  
    <ng-container matColumnDef="club1Score">
      <th mat-header-cell *matHeaderCellDef >A Score</th>
      <td mat-cell *matCellDef="let row">{{row.club1Score}}</td>
    </ng-container>
  
    <ng-container matColumnDef="club2Score">
      <th mat-header-cell *matHeaderCellDef>B Score</th>
      <td mat-cell *matCellDef="let row">{{row.club2Score}}</td>
    </ng-container>
  
    <ng-container matColumnDef="matchDate">
      <th mat-header-cell *matHeaderCellDef>Date</th>
      <td mat-cell *matCellDef="let row">{{row.matchDate.month}}/{{row.matchDate.day}}/{{row.matchDate.year}}</td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
  </table>
  
  <mat-paginator class="paginator"
      [length]="dataSource?.data?.length"
      [pageIndex]="0"
      [pageSize]="5"
      [pageSizeOptions]="[5, 10]">
  </mat-paginator>